* {
    margin: 0;
    padding: 0;
  }
  
  *,
  *::before,
  *::after {
    /* box-sizing: inherit; */
    box-sizing: border-box;
  }
  html {
    /* box-sizing: border-box; */
    font-size: 67.5%;
  }
  
  .container1.row {
      flex-wrap: nowrap;
   
  }
  
  
  .navbar1.col-8,
  .navbar1.col-sm-4,
  .navbar1.col-md-3 {
      transition: none; /* remove Bootstrap's default transition */
  }
  
  .nav{
    font-size: 15px;
  }
    
  }
  .content1.col {
      min-width: 100%; /* important for navbar display */
      overflow-x: hidden; /* important for navbar display */
     
  }
  
  .brand1 h1 {
      /*font-size:20px; */
      font-size: 2.25rem;
      font-weight: 600;
  }
  
  
  
  @media only screen and (min-width: 992px) {
      .content1.col {
          min-width: 0; /* important for adjusting main content */
      }
  }
  
  .container2{
   padding-bottom: 10px;
   margin-bottom: 50px;
  }
  
  .card-body{
    text-align: center;
    justify-content: center;
    margin-bottom: 20px;
    padding-bottom: 20px;
  }
  
  .card-title{
    font-size: 2.25rem;  
  }
  
  .card-text{
    font-size: 1.9rem;
  }
  
  .price{
    font-size: 1.9rem;
  }
  
  .form-group{ 
    font-size: 1.5rem;
  }
  
  .navigation3,
  .carousel3,
  .gallery3 {
      max-width: 992px;
      margin: 0 auto;
  }
  
  .navbar class="container {
      transition: background .5s; /* smooth background color change */
  }
  
  
  
  
  @media only screen and (max-width: 992px) {
      .gallery3 {
          padding: 0 20px;
      }
  }
  
  
  
  .checkout-button{
    padding: 20px;
    margin: 10px;
  }
  
  
  .add-to-bag{
    margin: 10px;
    font-size: 1.8rem;
  }
  
  .continue-shopping{
    margin: 20px;
  }
  
  .checkout{
    margin: 10px;
  }
  
  
  .footer {
    margin: 0rem;
    padding: 5rem 2rem;
    background-color: #f5efec;
  }
    
    .footer-nav {
      display: flex;
    }
    .footer-nav__group {
      width: 16rem;
      padding: 2rem;
    }
    .footer-nav__heading {
      font-size: 1.8rem;
      font-weight: 400;
      margin-bottom: 1rem;
    }
    .footer-nav__link {
      font-size: 1.4rem;
      text-decoration: none;
      color: inherit;
      display: block;
      margin-bottom: 0.65rem;
    }
    .footer-nav__link:hover {
      transition: all ease-in-out 250ms;
      color: rgba(34, 34, 34, 0.5);
    }
  
  .heading-secondary{
    font-size: 1.6rem;
  }
  
    
    
    
    @media screen and (max-width: 700px) {
      .row {   
        flex-direction: column;
      }
    }
    @media screen and (max-width: 400px) {
      .navbar a {
        float: none;
        width: 100%;
      }
    }
  
